aggdraw==1.3.16
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
google-auth==2.28.2
google-auth-oauthlib==1.2.0
gpxpy==1.5.0
gspread==6.0.2
idna==3.6
kiwisolver==1.4.4
matplotlib==3.7.1
matplotlib-label-lines==0.5.1
more-itertools==9.1.0
numpy==1.24.2
oauthlib==3.2.2
packaging==23.0
pandas @ git+https://github.com/pandas-dev/pandas.git@23f74d3f57cba84cdec677e68f4e7b3aa98d9198
Pillow==9.4.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyGObject==3.46.0
pyparsing==3.0.9
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
scipy==1.10.1
six==1.16.0
StrEnum==0.4.15
tzdata==2023.3
urllib3==2.2.1
